<launch>
    <!--<param name="robot_description" command="cat $(find simplify_urdf_collision)/test/wolfgang_old.urdf" />-->
    <!--<param name="robot_description" command="cat $(find simplify_urdf_collision)/test/wolfgang_boxed.urdf" />-->
    <param name="robot_description" command="cat $(find bez2_description)/urdf/bez2.urdf" />

    <node name="rviz" pkg="rviz" type="rviz" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="joint_states" />
    </node>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="/use_gui" value="true" />
        <rosparam param="/source_list">[/config/fake_controller_joint_states]</rosparam>
    </node>
</launch>
