<launch>
    <arg name="single" default="true" />
    <arg name="robot_model" default="$(optenv ROBOT_MODEL bez1)" />
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node} ${logger} ${function} ${line}]: ${message}" />

    <!-- The master simulator controller -->
    <include file="$(find soccerbot)/launch/modules/webots.launch">
        <env name="ROBOT_MODEL" value="$(arg robot_model)" />
        <arg name="single" value="$(arg single)" />
    </include>

    <include file="$(find foxglove_bridge)/launch/foxglove_bridge.launch">
        <arg name="port" value="8765" />
    </include>

<!--    <include file="$(find soccerbot)/launch/modules/gui.launch" />-->

    <include file="$(find soccerbot)/launch/soccerbot.launch" ns="robot1">
        <arg name="simulation" value="true" />
        <arg name="robot_id" value="1" />
        <arg name="robot_model" value="$(arg robot_model)" />
    </include>

    <include file="$(find soccerbot)/launch/soccerbot.launch" ns="robot2" unless="$(arg single)">
        <arg name="simulation" value="true" />
        <arg name="robot_id" value="2" />
        <arg name="robot_model" value="bez1" />
    </include>

    <include file="$(find soccerbot)/launch/soccerbot.launch" ns="robot3" unless="$(arg single)">
        <arg name="simulation" value="true" />
        <arg name="robot_id" value="3" />
        <arg name="robot_model" value="bez1" />
    </include>

    <include file="$(find soccerbot)/launch/soccerbot.launch" ns="robot4" unless="$(arg single)">
        <arg name="simulation" value="true" />
        <arg name="robot_id" value="4" />
        <arg name="robot_model" value="bez1" />
    </include>


</launch>
