<launch>
    <arg name="simulation" default="true" />
    <arg name="single" default="true" />

    <include file="$(find soccerbot)/launch/modules/simulator.launch" >
        <arg name="single" value="$(arg single)" />
    </include>
    <include file="$(find soccerbot)/launch/modules/gui.launch" />

    <include file="$(find soccerbot)/launch/soccerbot.launch" >
        <arg name="simulation" value="true" />
        <arg name="robot_name" value="robot1" />
        <arg name="ip_address" value="$(optenv ROBOT1_IP localhost)" />
        <arg name="x_pos" value="-1.00" />
        <arg name="y_pos" value="0.00" />
        <arg name="is_boss" value="true" />
    </include>
    <include file="$(find soccerbot)/launch/soccerbot.launch" unless="$(arg single)">
        <arg name="simulation" value="true" />
        <arg name="robot_name" value="robot2" />
        <arg name="ip_address" value="$(optenv ROBOT2_IP localhost)" />
        <arg name="x_pos" value="-2.00" />
        <arg name="y_pos" value="2.00" />
    </include>
    <include file="$(find soccerbot)/launch/soccerbot.launch" unless="$(arg single)">
        <arg name="simulation" value="true" />
        <arg name="robot_name" value="robot3" />
        <arg name="ip_address" value="$(optenv ROBOT3_IP localhost)" />
        <arg name="x_pos" value="-2.00" />
        <arg name="y_pos" value="-2.00" />
    </include>
    <include file="$(find soccerbot)/launch/soccerbot.launch" unless="$(arg single)">
        <arg name="simulation" value="true" />
        <arg name="robot_name" value="robot4" />
        <arg name="ip_address" value="$(optenv ROBOT4_IP localhost)" />
        <arg name="x_pos" value="-3.00" />
        <arg name="y_pos" value="0.00" />
    </include>
</launch>