<launch>
    <arg name="simulation" default="false" />
    <arg name="robot_name" default="robot1" />
    <arg name="x_pos" default="0.00" />
    <arg name="y_pos" default="0.00" />

    <include file="$(find soccerbot)/launch/modules/sensors.launch" unless="$(arg simulation)"/>
    <include file="$(find soccerbot)/launch/modules/simulation.launch" if="$(arg simulation)">
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="x_pos" value="$(arg x_pos)" />
        <arg name="y_pos" value="$(arg y_pos)" />
    </include>

    <include file="$(find soccerbot)/launch/modules/localization.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    <!--<include file="$(find soccerbot)/launch/modules/navigation.launch" />-->
    <!--<include file="$(find soccerbot)/launch/modules/communication.launch" />-->
</launch>