<launch>
    <arg name="simulation" default="true" />
    <arg name="robot_name" default="robot1" />
    <arg name="pose_name" default="standing" />
    <arg name="ip_address" default="localhost" />
    <arg name="x_pos" default="$(optenv X_POS 0)" />
    <arg name="y_pos" default="$(optenv Y_POS 0)" />
    <arg name="angle" default="$(optenv ANGLE 0)" />
    <arg name="goalie" default="$(optenv GOALIE false)" />
    <arg name="easy_walking" default="false" />
    <arg name="fake_localization" default="false" />

    <arg name="model_name" value="soccerbot" unless="$(arg easy_walking)" />
    <arg name="model_name" value="soccerbot_stand" if="$(arg easy_walking)" />

    <machine name="$(arg robot_name)" address="$(arg ip_address)" />

    <group ns="$(arg robot_name)">
        <param name="robot_description" command="xacro '$(find soccer_description)/models/$(arg model_name).xacro'
            robot_name:=$(arg robot_name)
            model_type:=dae
            file_path:=package://soccer_description
            has_base_footprint:=true
            tf_prefix:=$(arg robot_name)
            "

        />
<!--        <param name="tf_prefix" value = "/robot1"/>-->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

        <include file="$(find soccerbot)/launch/modules/sensors.launch" unless="$(arg simulation)">
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

        <include file="$(find soccerbot)/launch/modules/simulation.launch" if="$(arg simulation)">
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="pose_name" default="$(arg pose_name)"/>
            <arg name="x_pos" value="$(arg x_pos)" />
            <arg name="y_pos" value="$(arg y_pos)" />
        </include>

        <include file="$(find soccerbot)/launch/modules/localization.launch">
            <arg name="fake_localization" value="$(arg fake_localization)" />
            <arg name="robot_name" value="$(arg robot_name)"/>
                <arg name="x_pos" value="$(arg x_pos)" />
                <arg name="y_pos" value="$(arg y_pos)" />
            <arg name="map_name" value="robocup" if="$(arg simulation)" />
            <arg name="map_name" value="test" unless="$(arg simulation)" />
        </include>

        <include file="$(find soccerbot)/launch/modules/navigation.launch">
            <arg name="simulation" value="$(arg simulation)" />
        </include>
    </group>
</launch>