The following output is given after running the `test_udp_echo.py` script.

```
$ python test_udp_echo.py
Sending "b'this is a message of length 80 chars. asdfghjklasdfghjklasdfghjklasdfghjkl ++++'"
Measuring time taken for 1000 echoes
Took 0.8244898193680067 seconds for 1000 samples
Average echo time: 0.0008244898193680067 seconds
Closing socket
```
