.*
cmake-build-debug
*.md
external
!external/GameController/protocols/python/gamestate.py
LICENSE
Dockerfile
docker-compose.*
external/webots
soccer_description/meshes/*.stl
soccer_hardware
soccer_rlcontrol
soccer_embedded
soccer_fieldline_detection/media
soccerbot/bags/
LICENSE
venv/
