.*
cmake-build-debug
CMakeLists.txt
*.md
external
LICENSE
Dockerfile
docker-compose.yaml
external/webots
soccer_description/meshes/*.stl
soccer_hardware
soccer_rlcontrol
soccer_embedded
soccer_fieldline_detection/media