.*
/docs/_build/
/docs/generated/
*.bag
cmake-build-debug
*.md
external
!external/hlvs_webots/controllers/player/messages.proto
!external/hlvs_webots/controllers/referee/*.json
!external/GameController/protocols/python/gamestate.py
!external/CATKIN_IGNORE
LICENSE
Dockerfile
docker-compose.*
bez1_description/meshes/*.stl
bez2_description/meshes/*.stl
soccer_fieldline_detection/media
soccerbot/bags/*
!soccerbot/bags/*.sh
LICENSE
venv/
*.webm
soccer_perception/data/images/*
soccer_perception/data/videos/*
