*.swp
*.log
*.stat
*.cache
.DS_Store/

# Python compiled files
__pycache__/
*.pyc

# Matlab Build Files
soccer_description/models/soccerbot.urdf
soccer_control/generated
soccer_control_generated
.idea/

# Windows and Mac files
.DS_Store

# webots cache files
soccer_webots/protos/*.cache
soccer_webots/protos/Soccerbot_meshes/*.cache

cmake-build-debug
