*.rviz
soccer_webots/protos/postures.json
.pre-commit-config.yaml
.idea
soccer_strategy/src/communication/robot_state_pb2.py
soccer_webots/src/soccer_webots/messages_pb2.py
soccer_hardware/soccer_firmware/*
