singleQuote: false
overrides:
  - files: "*.launch"
    options:
      parser: "html"
      printWidth: 1000
  - files: "*.yaml"
    options:
      tabWidth: 2
  - files: "*.yml"
    options:
      tabWidth: 2
