# This file is a copy of docker-compose.yaml

version: "3.3"

networks:
  soccer_network:
    ipam:
      config:
        - subnet: 172.18.0.0/24

x-soccerbot: &soccerbot
  image: utrarobosoccer/soccerbot
  privileged: true
  build:
    context: .
    target: builder
    args:
      - BUILDKIT_INLINE_CACHE=1
    cache_from:
      - utrarobosoccer/soccerbot
      - utrarobosoccer/soccerbot_dependencies
  cap_add:
    - SYS_PTRACE
  pid: "host"
  command:
    /bin/bash -c "export ROS_MASTER_URI=http://$$(hostname -i):11311 && export ROS_IP=$$(hostname -i) &&
    bash ./src/soccerbot/soccerbot/scripts/start_competition.sh robot$$ROBOCUP_ROBOT_ID"
  volumes:
    - .:/home/$USER/catkin_ws/src/soccerbot
    - .:/home/robosoccer/catkin_ws/src/soccerbot

services:
  simulator:
    image: utrarobosoccer/webots
    privileged: true
    build:
      context: external
      args:
        - BUILDKIT_INLINE_CACHE=1
      cache_from:
        - utrarobosoccer/webots
    cap_add:
      - SYS_PTRACE
    pid: "host"
    networks:
      soccer_network:
        ipv4_address: 172.18.0.10
    #    command: bash -c "cd webots && ./webots --minimize  --stream=port=1234 --batch ./projects/samples/contests/robocup/worlds/robocup.wbt"  # Uncomment for local test
    command: bash -c "cd webots && Xvfb :1 -screen 0 1024x768x24 | (./webots --minimize --no-rendering --stream=port=1234 --batch ./projects/samples/contests/robocup/worlds/robocup.wbt)"
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /dev/dri:/dev/dri:rw
      - /dev/snd:/dev/snd:rw
      - ./external/webots/projects/samples/contests/robocup/worlds:/usr/local/webots/projects/samples/contests/robocup/worlds:rw
      - ./external/webots/projects/samples/contests/robocup/controllers/referee/referee.py:/usr/local/webots/projects/samples/contests/robocup/controllers/referee/referee.py:rw
      - ./external/webots/projects/samples/contests/robocup/controllers/referee/udp_bouncer.py:/usr/local/webots/projects/samples/contests/robocup/controllers/referee/udp_bouncer.py:rw
      - ./external/webots/projects/samples/contests/robocup/controllers/referee/game_single_${ROBOT_MODEL:-bez3}.json:/usr/local/webots/projects/samples/contests/robocup/controllers/referee/game.json:rw
      - ./external/webots/projects/samples/contests/robocup/controllers/referee/team_1_single_bez1.json:/usr/local/webots/projects/samples/contests/robocup/controllers/referee/team_1_single_bez1.json:rw
      - ./external/webots/projects/samples/contests/robocup/controllers/referee/team_1_single_bez3.json:/usr/local/webots/projects/samples/contests/robocup/controllers/referee/team_1_single_bez3.json:rw
      - ./external/webots/projects/samples/contests/robocup/controllers/referee/team_2_single_bez1.json:/usr/local/webots/projects/samples/contests/robocup/controllers/referee/team_2_single_bez1.json:rw
      - ./external/webots/projects/samples/contests/robocup/controllers/referee/team_2_single_bez3.json:/usr/local/webots/projects/samples/contests/robocup/controllers/referee/team_2_single_bez3.json:rw
      - ./external/webots/projects/samples/contests/robocup/protos/:/usr/local/webots/projects/samples/contests/robocup/protos/:rw
    environment:
      DISPLAY: unix:1
      #      DISPLAY: unix$DISPLAY # Uncomment for local test
      JAVA_HOME: /usr
      XDG_RUNTIME_DIR: $XDG_RUNTIME_DIR

  friendly:
    <<: *soccerbot
    networks:
      soccer_network:
        ipv4_address: 172.18.0.2
    command: /bin/bash -c "source $$HOME/catkin_ws/devel/setup.bash &&
      export PYTHONPATH=$$PYTHONPATH:$$HOME/catkin_ws/src/soccerbot/soccer_pycontrol/src:$$HOME/catkin_ws/src/soccerbot/soccer_strategy/src:$$HOME/catkin_ws/src/soccerbot/soccer_common/src &&
      pytest -s $$HOME/catkin_ws/src/soccerbot/test_integration.py::IntegrationTestInitial::test_game_start"
    environment:
      ROBOCUP_ROBOT_ID: 1 # (see start_competition.sh for positions), not 1 https://discord.com/channels/462951096374132736/798238127588114462/954388600290685008
      ROBOCUP_TEAM_COLOR: "red"
      ROBOCUP_SIMULATOR_ADDR: "simulator:10001"
      ROBOCUP_GAMECONTROLLER_IP: "simulator"
      ROBOCUP_MIRROR_SERVER_IP: "simulator"
      ROBOCUP_TEAM_ID: 16
      PYTHONUNBUFFERED: 1
      DISPLAY: unix$DISPLAY
      XDG_RUNTIME_DIR: $XDG_RUNTIME_DIR
      ROBOT_MODEL: bez3
