version: "3.3"

networks:
  soccer_network:
    ipam:
      config:
        - subnet: 172.18.0.0/24

services:
  simulator:
    extends:
      file: docker-compose.yaml
      service: simulator
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /dev/dri:/dev/dri:rw
      - /dev/snd:/dev/snd:rw
      - ./external/webots/projects/samples/contests/robocup/controllers/referee/team_1.json:/usr/local/webots/projects/samples/contests/robocup/controllers/referee/team_1.json:rw
      - ./external/webots/projects/samples/contests/robocup/controllers/referee/team_2.json:/usr/local/webots/projects/samples/contests/robocup/controllers/referee/team_2.json:rw
      - ./external/webots/projects/samples/contests/robocup/protos/:/usr/local/webots/projects/samples/contests/robocup/protos/:rw
      - ./external/webots/projects/samples/contests/robocup/controllers/referee/game.json:/usr/local/webots/projects/samples/contests/robocup/controllers/referee/game.json:rw

  friendly1:
    extends:
      file: docker-compose.yaml
      service: friendly
    networks:
      soccer_network:
        ipv4_address: 172.18.0.2
    environment:
      ROBOCUP_ROBOT_ID: 1
      ROBOCUP_TEAM_COLOR: "red"
      ROBOCUP_SIMULATOR_ADDR: "simulator:10001"
      ROBOCUP_GAMECONTROLLER_IP: "simulator"
      ROBOCUP_MIRROR_SERVER_IP: "simulator"
      ROBOCUP_TEAM_ID: 16
      PYTHONUNBUFFERED: 1

  friendly2: # Left midfield
    extends:
      file: docker-compose.yaml
      service: friendly
    networks:
      soccer_network:
        ipv4_address: 172.18.0.3
    environment:
      ROBOCUP_ROBOT_ID: 2
      ROBOCUP_TEAM_ID: 16
      ROBOCUP_TEAM_COLOR: "red"
      ROBOCUP_SIMULATOR_ADDR: "simulator:10002"
      ROBOCUP_GAMECONTROLLER_IP: "simulator"
      ROBOCUP_MIRROR_SERVER_IP: "simulator"
      PYTHONUNBUFFERED: 1

  friendly3: # Striker
    extends:
      file: docker-compose.yaml
      service: friendly
    networks:
      soccer_network:
        ipv4_address: 172.18.0.4
    environment:
      ROBOCUP_ROBOT_ID: 3
      ROBOCUP_TEAM_ID: 16
      ROBOCUP_TEAM_COLOR: "red"
      ROBOCUP_SIMULATOR_ADDR: "simulator:10003"
      ROBOCUP_GAMECONTROLLER_IP: "simulator"
      ROBOCUP_MIRROR_SERVER_IP: "simulator"
      PYTHONUNBUFFERED: 1

  friendly4: # Right midfield
    extends:
      file: docker-compose.yaml
      service: friendly
    networks:
      soccer_network:
        ipv4_address: 172.18.0.5
    environment:
      ROBOCUP_ROBOT_ID: 4
      ROBOCUP_TEAM_ID: 16
      ROBOCUP_TEAM_COLOR: "red"
      ROBOCUP_SIMULATOR_ADDR: "simulator:10004"
      ROBOCUP_GAMECONTROLLER_IP: "simulator"
      ROBOCUP_MIRROR_SERVER_IP: "simulator"
      PYTHONUNBUFFERED: 1

  oppponent1: # Goalie
    extends:
      file: docker-compose.yaml
      service: opponent
    networks:
      soccer_network:
        ipv4_address: 172.18.0.6
    environment:
      ROBOCUP_TEAM_ID: 5
      ROBOCUP_ROBOT_ID: 1
      ROBOCUP_TEAM_COLOR: "blue"
      ROBOCUP_SIMULATOR_ADDR: "simulator:10021"
      ROBOCUP_GAMECONTROLLER_IP: "simulator"
      ROBOCUP_MIRROR_SERVER_IP: "simulator"
      PYTHONUNBUFFERED: 1

  oppponent2: # Left midfield
    extends:
      file: docker-compose.yaml
      service: opponent
    networks:
      soccer_network:
        ipv4_address: 172.18.0.7
    environment:
      ROBOCUP_TEAM_ID: 5
      ROBOCUP_ROBOT_ID: 2
      ROBOCUP_TEAM_COLOR: "blue"
      ROBOCUP_SIMULATOR_ADDR: "simulator:10022"
      ROBOCUP_GAMECONTROLLER_IP: "simulator"
      ROBOCUP_MIRROR_SERVER_IP: "simulator"
      PYTHONUNBUFFERED: 1

  oppponent3: # Striker
    extends:
      file: docker-compose.yaml
      service: opponent
    networks:
      soccer_network:
        ipv4_address: 172.18.0.8
    environment:
      ROBOCUP_TEAM_ID: 5
      ROBOCUP_ROBOT_ID: 3
      ROBOCUP_TEAM_COLOR: "blue"
      ROBOCUP_SIMULATOR_ADDR: "simulator:10023"
      ROBOCUP_GAMECONTROLLER_IP: "simulator"
      ROBOCUP_MIRROR_SERVER_IP: "simulator"
      PYTHONUNBUFFERED: 1

  oppponent4: # Right midfield
    extends:
      file: docker-compose.yaml
      service: opponent
    networks:
      soccer_network:
        ipv4_address: 172.18.0.9
    environment:
      ROBOCUP_TEAM_ID: 5
      ROBOCUP_ROBOT_ID: 4
      ROBOCUP_TEAM_COLOR: "blue"
      ROBOCUP_SIMULATOR_ADDR: "simulator:10024"
      ROBOCUP_GAMECONTROLLER_IP: "simulator"
      ROBOCUP_MIRROR_SERVER_IP: "simulator"
      PYTHONUNBUFFERED: 1
