version: "3.3"

networks:
  soccer_network:
    ipam:
      config:
        - subnet: 172.18.0.0/24

services:
  simulator:
    extends:
      file: docker-compose.yaml
      service: simulator
    command: bash -c "cd webots && Xvfb :1 -screen 0 1024x768x24 | (./webots --minimize --no-rendering --stream=port=1234 --batch ./projects/samples/contests/robocup/worlds/robocup.wbt)"
    deploy:
      resources:
        reservations:
          devices: []
    environment:
      DISPLAY: unix:1

  friendly:
    extends:
      file: docker-compose.yaml
      service: friendly
    networks:
      soccer_network:
        ipv4_address: 172.18.0.2
    deploy:
      resources:
        reservations:
          devices: []
    command: /bin/bash -c "source /root/catkin_ws/devel/setup.bash &&
      export PYTHONPATH=$$PYTHONPATH:/root/catkin_ws/src/soccerbot/soccer_pycontrol/src:/root/catkin_ws/src/soccerbot/soccer_strategy/src:/root/catkin_ws/src/soccerbot/soccer_common/src &&
      pytest -s /root/catkin_ws/src/soccerbot/test_integration.py"
