version: "3.3"

# Instructions
# https://github.com/utra-robosoccer/soccerbot/wiki/Docker

x-gpu: &gpu
  deploy:
    resources:
      reservations:
        devices:
          - driver: nvidia
            count: all
            capabilities: [compute, utility, graphics]

x-soccerbot: &soccerbot
  <<: *gpu
  image: utrarobosoccer/soccerbot
  privileged: true
  user: "1000"
  build:
    context: .
    target: builder
    args:
      - BUILDKIT_INLINE_CACHE=1
    cache_from:
      - utrarobosoccer/soccerbot
  cap_add:
    - SYS_PTRACE
    - SYS_NICE
  pid: "host"
  security_opt:
    - seccomp:unconfined
  command:
    /bin/bash -c "export ROS_MASTER_URI=http://$$(hostname -i):11311 && export ROS_IP=$$(hostname -i) &&
    bash ./src/soccerbot/soccerbot/scripts/start_competition.sh robot$$ROBOCUP_ROBOT_ID"
  volumes:
    - .:/home/$USER/catkin_ws/src/soccerbot
    - .:/home/robosoccer/catkin_ws/src/soccerbot
    - /tmp/.X11-unix:/tmp/.X11-unix:rw
    - /dev/dri:/dev/dri:rw
    - /dev/snd:/dev/snd:rw
    - /var/run/docker.sock:/var/run/docker.sock

services:
  simulator:
    <<: *gpu
    image: utrarobosoccer/webots
    stop_signal: SIGINT
    stop_grace_period: 10s
    runtime: nvidia
    privileged: true
    build:
      context: external
      args:
        - BUILDKIT_INLINE_CACHE=1
      cache_from:
        - utrarobosoccer/webots
    cap_add:
      - SYS_PTRACE
    pid: "host"
    command: bash -c "cd webots && ./webots --batch --sysinfo --log-performance=performance.log /usr/local/hlvs_webots/worlds/robocup.wbt"
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /dev/dri:/dev/dri:rw
      - /dev/snd:/dev/snd:rw
      - ./external/hlvs_webots/worlds:/usr/local/hlvs_webots/worlds:rw
      - ./external/hlvs_webots/controllers/referee/:/usr/local/hlvs_webots/controllers/referee/:rw
      - ./external/hlvs_webots/protos/:/usr/local/hlvs_webots/protos/:rw
    environment:
      DISPLAY: unix$DISPLAY
      JAVA_HOME: /usr
      XDG_RUNTIME_DIR: $XDG_RUNTIME_DIR
      # Specify in comma seperated list see https://github.com/utra-robosoccer/hlvs_webots/blob/16194d22c91b8dfcae3b3298524281bf895cab5d/controllers/referee/team.py#L36
      TEAM_1_PLAYERS_ON_FIELD: "1"
      TEAM_2_PLAYERS_ON_FIELD: ""
      ROBOT_MODEL: "bez1"

  friendly:
    <<: *soccerbot
    environment:
      ROBOCUP_ROBOT_ID: 1 # (see start_competition.sh for positions), not 1 https://discord.com/channels/462951096374132736/798238127588114462/954388600290685008
      ROBOT_MODEL: bez1
      ROBOCUP_TEAM_COLOR: "red"
      ROBOCUP_SIMULATOR_ADDR: "simulator:10001"
      ROBOCUP_GAMECONTROLLER_IP: "simulator"
      ROBOCUP_MIRROR_SERVER_IP: "simulator"
      ROBOCUP_TEAM_ID: 16
      PYTHONUNBUFFERED: 1
      DISPLAY: unix$DISPLAY
      XDG_RUNTIME_DIR: $XDG_RUNTIME_DIR

  opponent:
    <<: *soccerbot
    environment:
      ROBOCUP_ROBOT_ID: 1
      ROBOT_MODEL: bez1
      ROBOCUP_TEAM_COLOR: "blue"
      ROBOCUP_SIMULATOR_ADDR: "simulator:10021"
      ROBOCUP_GAMECONTROLLER_IP: "simulator"
      ROBOCUP_MIRROR_SERVER_IP: "simulator"
      ROBOCUP_TEAM_ID: 5
      PYTHONUNBUFFERED: 1
      DISPLAY: unix$DISPLAY
      XDG_RUNTIME_DIR: $XDG_RUNTIME_DIR
