version: "3.3"

# Instructions
# https://github.com/utra-robosoccer/soccerbot/wiki/Docker

networks:
  soccer_network:
    ipam:
      config:
        - subnet: 172.18.0.0/24

x-soccerbot: &soccerbot
  image: utrarobosoccer/soccerbot
  privileged: true
  build:
    context: .
    target: builder
    args:
      - BUILDKIT_INLINE_CACHE=1
    cache_from:
      - utrarobosoccer/soccerbot
      - utrarobosoccer/soccerbot_dependencies
  #  network_mode: host
  cap_add:
    - SYS_PTRACE
  pid: "host"
  deploy:
    resources:
      reservations:
        devices:
          - driver: nvidia
            count: all
            capabilities: [gpu, compute, utility, graphics]
  command:
    /bin/bash -c "export ROS_MASTER_URI=http://$$(hostname -i):11311 && export ROS_IP=$$(hostname -i) &&
    bash ./src/soccerbot/soccerbot/scripts/start_competition.sh robot$$ROBOCUP_ROBOT_ID"
  volumes:
    - .:/root/catkin_ws/src/soccerbot
      #    - /home/${USER}/catkin_ws/:/root/catkin_ws/
      #    - /home/${USER}/catkin_ws/:/home/${USER}/catkin_ws/
    - /tmp/.X11-unix:/tmp/.X11-unix:rw
    - /dev/dri:/dev/dri:rw
    - /dev/snd:/dev/snd:rw

services:
  simulator:
    image: utrarobosoccer/webots
    privileged: true
    build:
      context: external
      args:
        - BUILDKIT_INLINE_CACHE=1
      cache_from:
        - utrarobosoccer/webots
    cap_add:
      - SYS_PTRACE
    pid: "host"
    networks:
      soccer_network:
        ipv4_address: 172.18.0.10
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, utility, graphics]
    command: bash -c "cd webots && ./webots --batch --sysinfo --log-performance=performance.log --no-sandbox ./projects/samples/contests/robocup/worlds/robocup.wbt"
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /dev/dri:/dev/dri:rw
      - /dev/snd:/dev/snd:rw
      - ./external/webots/projects/samples/contests/robocup/worlds:/usr/local/webots/projects/samples/contests/robocup/worlds:rw
      - ./external/webots/projects/samples/contests/robocup/controllers/referee/referee.py:/usr/local/webots/projects/samples/contests/robocup/controllers/referee/referee.py:rw
      - ./external/webots/projects/samples/contests/robocup/controllers/referee/udp_bouncer.py:/usr/local/webots/projects/samples/contests/robocup/controllers/referee/udp_bouncer.py:rw
      - ./external/webots/projects/samples/contests/robocup/controllers/referee/game.json:/usr/local/webots/projects/samples/contests/robocup/controllers/referee/game.json:rw
      - ./external/webots/projects/samples/contests/robocup/controllers/referee/team_1_single.json:/usr/local/webots/projects/samples/contests/robocup/controllers/referee/team_1.json:rw
      - ./external/webots/projects/samples/contests/robocup/controllers/referee/team_2_single.json:/usr/local/webots/projects/samples/contests/robocup/controllers/referee/team_2.json:rw
      - ./external/webots/projects/samples/contests/robocup/protos/:/usr/local/webots/projects/samples/contests/robocup/protos/:rw
    environment:
      DISPLAY: unix$DISPLAY
      JAVA_HOME: /usr
      XDG_RUNTIME_DIR: $XDG_RUNTIME_DIR

  friendly:
    <<: *soccerbot
    # Uncomment to view rviz
    ports:
      - 11311:11311
    networks:
      soccer_network:
        ipv4_address: 172.18.0.2
    environment:
      ROBOCUP_ROBOT_ID: 1 # (see start_competition.sh for positions), not 1 https://discord.com/channels/462951096374132736/798238127588114462/954388600290685008
      ROBOCUP_TEAM_COLOR: "red"
      ROBOCUP_SIMULATOR_ADDR: "simulator:10001"
      ROBOCUP_GAMECONTROLLER_IP: "simulator"
      ROBOCUP_MIRROR_SERVER_IP: "simulator"
      ROBOCUP_TEAM_ID: 16
      PYTHONUNBUFFERED: 1
#  opponent:
#    <<: *soccerbot
#    networks:
#      soccer_network:
#        ipv4_address: 172.18.0.6
#    environment:
#      ROBOCUP_TEAM_ID: 5
#      ROBOCUP_ROBOT_ID: 1
#      ROBOCUP_TEAM_COLOR: "blue"
#      ROBOCUP_SIMULATOR_ADDR: "simulator:10021"
#      ROBOCUP_GAMECONTROLLER_IP: "simulator"
#      ROBOCUP_MIRROR_SERVER_IP: "simulator"
#      COMPETITION: "true"
#      PYTHONUNBUFFERED: 1
