# This file is a copy of docker-compose.yaml

version: "3.3"

networks:
  soccer_network:
    ipam:
      config:
        - subnet: 172.18.0.0/24

x-soccerbot: &soccerbot
  image: utrarobosoccer/soccerbot
  privileged: true
  build:
    context: .
    target: builder
    args:
      - BUILDKIT_INLINE_CACHE=1
      - INSTALL_CUDA="false"
    cache_from:
      - utrarobosoccer/soccerbot
      - utrarobosoccer/soccerbot_dependencies
  cap_add:
    - SYS_PTRACE
  pid: "host"
  command:
    /bin/bash -c "export ROS_MASTER_URI=http://$$(hostname -i):11311 && export ROS_IP=$$(hostname -i) &&
    bash ./src/soccerbot/soccerbot/scripts/start_competition.sh robot$$ROBOCUP_ROBOT_ID"
  volumes:
    - .:/home/$USER/catkin_ws/src/soccerbot
    - .:/home/robosoccer/catkin_ws/src/soccerbot

services:
  simulator:
    image: utrarobosoccer/webots
    privileged: true
    build:
      context: external
      args:
        - BUILDKIT_INLINE_CACHE=1
      cache_from:
        - utrarobosoccer/webots
    cap_add:
      - SYS_PTRACE
    pid: "host"
    networks:
      soccer_network:
        ipv4_address: 172.18.0.10
    command: bash -c "cd webots &&
      if [[ $$DISPLAY != '' ]]; then export DISPLAY=unix$DISPLAY && ./webots --batch --sysinfo --log-performance=performance.log  /usr/local/hlvs_webots/worlds/robocup.wbt;
      else export DISPLAY=unix:1 && Xvfb :1 -screen 0 1024x768x24 | (./webots --minimize --no-rendering --batch /usr/local/hlvs_webots/worlds/robocup.wbt);
      fi || sleep infinity"
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /dev/dri:/dev/dri:rw
      - /dev/snd:/dev/snd:rw
      - ./external/hlvs_webots/worlds:/usr/local/hlvs_webots/worlds:rw
      - ./external/hlvs_webots/controllers/referee/:/usr/local/hlvs_webots/controllers/referee/:rw
      - ./external/hlvs_webots/protos/:/usr/local/hlvs_webots/protos/:rw
    environment:
      DISPLAY: $DISPLAY
      JAVA_HOME: /usr
      XDG_RUNTIME_DIR: $XDG_RUNTIME_DIR
      TEAM_1_PLAYERS_ON_FIELD: "1"
      TEAM_2_PLAYERS_ON_FIELD: ""

  friendly:
    <<: *soccerbot
    networks:
      soccer_network:
        ipv4_address: 172.18.0.2
    command:
      /bin/bash -c "export ROS_MASTER_URI=http://$$(hostname -i):11311 && export ROS_IP=$$(hostname -i) && source $$HOME/catkin_ws/devel/setup.bash &&
      export PYTHONPATH=$$PYTHONPATH:$$HOME/catkin_ws/src/soccerbot/soccer_pycontrol/src:$$HOME/catkin_ws/src/soccerbot/soccer_strategy/src:$$HOME/catkin_ws/src/soccerbot/soccer_common/src &&
      pytest -s $$HOME/catkin_ws/src/soccerbot/test_integration.py::IntegrationTestInitial::test_game_start"
    ports:
      - 11311:11311
    environment:
      ROBOCUP_ROBOT_ID: 1 # not 1 https://discord.com/channels/462951096374132736/798238127588114462/954388600290685008
      ROBOCUP_TEAM_COLOR: "red"
      ROBOCUP_SIMULATOR_ADDR: "simulator:10001"
      ROBOCUP_GAMECONTROLLER_IP: "simulator"
      ROBOCUP_MIRROR_SERVER_IP: "simulator"
      ROBOCUP_TEAM_ID: 16
      PYTHONUNBUFFERED: 1
      DISPLAY: unix$DISPLAY
      XDG_RUNTIME_DIR: $XDG_RUNTIME_DIR
      ROBOT_MODEL: bez1
