version: "3.3"

services:
  friendly1:
    network_mode: host
    extends:
      file: docker-compose.yaml
      service: friendly
    image: utrarobosoccer/soccerbot:arm64
    build:
      context: .
      target: builder
      args:
        - BUILDKIT_INLINE_CACHE=1
        - USER=${USER}
        - BASE_IMAGE=arm64v8/ros:noetic-robot
        - ARCHITECTURE=sbsa
      cache_from:
        - utrarobosoccer/soccerbot:arm64
    volumes:
      - /usr/lib/aarch64-linux-gnu/tegra:/usr/lib/aarch64-linux-gnu/tegra
    command:
      /bin/bash -c "source ~/catkin_ws/devel/setup.bash && sudo chmod +s /usr/bin/nice &&
      if [[ $$TEST_CONTROL == 'true' ]]; then roslaunch soccer_hardware_bez3 soccer_hardware_bez3.launch test_walking:=true  __ns:=robot$$ROBOCUP_ROBOT_ID;
      else roslaunch soccerbot soccerbot.launch simulation:=false __ns:=robot$$ROBOCUP_ROBOT_ID; fi || sleep infinity"
    environment:
      ROS_MASTER_URI: ${ROS_MASTER_URI}
      TEST_CONTROL: "true"
      ROBOCUP_ROBOT_ID: 3
      ROBOCUP_TEAM_COLOR: "red"
      ROBOCUP_SIMULATOR_ADDR: "simulator:10001"
      ROBOCUP_MIRROR_SERVER_IP: "simulator"
      ROBOCUP_GAMECONTROLLER_IP: "simulator"
      ROBOCUP_TEAM_ID: 16
      PYTHONUNBUFFERED: 1
      LD_PRELOAD: /usr/local/lib/python3.8/dist-packages/torch/lib/libgomp-d22c30c5.so.1
