osrf-pycommon
pip>=21.0.1
matplotlib
numpy>=1.20.2
roslibpy
scipy>=1.6.2
prettytable
pyserial>=3.5
transforms3d
construct==2.10.67
opencv-python>=4.5.5.62
shapely
vispy
pytest
protobuf==3.20.1
keras
gluoncv
pre-commit
timeout_decorator
pytest-timeout
pytest-rerunfailures
ruamel.yaml
pyOpenSSL==22.0.0

# object detection
tensorboard
Pillow==9.0.1
tqdm
torch==1.12.0; platform_machine == 'x86_64'
torchvision; platform_machine == 'x86_64'
pybullet
