<launch>
    <!-- Robot pose -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.34"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0"/>
    <arg name="home_path" default="$(optenv HOME bez1)" />
    <param name="robot_description" command="xacro '$(find bez1_description)/urdf/bez1.xacro'
        robot_name:=robot1
        model_type:=dae
        file_path:=file:///$(arg home_path)/catkin_ws/src/soccerbot/bez1_description
        has_base_footprint:=false
        tf_prefix:=robot1
        "
    />

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description -urdf -model bez1 -x $(arg x) -y $(arg y) -z $(arg z)
     -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />

    </include>
    <rosparam file="$(find bez1_description)/launch/controller.yaml" command="load" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="robot1" args="left_arm_motor_0 left_arm_motor_1 right_arm_motor_0 right_arm_motor_1 left_leg_motor_0 right_leg_motor_1 left_leg_motor_1 left_leg_motor_2 right_leg_motor_2 right_leg_motor_5 left_leg_motor_5 head_motor_1 right_leg_motor_3 left_leg_motor_3 left_leg_motor_4 right_leg_motor_4 head_camera torso_imu head_motor_0 right_leg_motor_0 joint_state_controller " />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/robot1/joint_states" />
    </node>
</launch>
