<launch>
    <env name="PYTHONPATH" value="$(env PYTHONPATH):$(env HOME)/catkin_ws/src/soccerbot/external/webots/lib/controller/python38" />

    <node pkg="soccer_webots" type="bridge_ground_truth.py" name="bridge_ground_truth" output="screen" unless="$(optenv COMPETITION false)" />

    <node pkg="soccer_webots" type="bridge_webots.py" name="bridge_webots" output="screen" />
</launch>
