<!-- Launches the localization using for the robot -->

<launch>
    <arg name="simulation" default="false" />
    <arg name="robot_name" default="robot1" />
    <arg name="robot_model" default="bez1" />
    <arg name="map_name" default="robocup" />

    <arg name="param_file_name" value="$(arg robot_model)_sim" if="$(arg simulation)" />
    <arg name="param_file_name" value="$(arg robot_model)" unless="$(arg simulation)" />

    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find soccer_common)/maps/$(arg map_name).yaml">
        <param name="frame_id" value="world" />
    </node>

    <node pkg="soccer_object_localization" type="detector_fieldline.py" name="detector_fieldline" output="screen" />
    <node pkg="soccer_object_localization" type="detector_goalpost.py" name="detector_goalpost" output="screen" />

    <!-- Ball Detection -->
    <node pkg="soccer_object_localization" type="detector_objects.py" name="ball_detector" output="screen">
        <rosparam file="$(find soccer_object_localization)/config/$(arg param_file_name).yaml" command="load" />
    </node>
    <node name="object_detector" pkg="soccer_object_detection" type="object_detect_node.py" output="screen" args="--model $(find soccer_object_detection)/models/half_5.pt">
        <rosparam file="$(find soccer_object_detection)/config/$(arg param_file_name).yaml" command="load" />
    </node>

    <!-- Complementary filter -->
    <node pkg="imu_complementary_filter" type="complementary_filter_node" name="imu_complementary_filter" output="log">
        <rosparam file="$(find soccerbot)/config/imu_complementary_filter.yaml" command="load" />
        <remap from="imu/data_raw" to="imu_raw" />
        <remap from="imu/data" to="imu_filtered" />
    </node>

    <!-- IMU location -->
    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="log">
        <rosparam file="$(find soccerbot)/config/robot_pose_ekf.yaml" command="load" />
        <remap from="robot_pose_ekf/odom_combined" to="odom_combined" />
        <remap from="imu_data" to="imu_filtered" />
        <param name="output_frame" value="$(arg robot_name)/odom" />
        <param name="base_footprint_frame" value="$(arg robot_name)/base_footprint" />
    </node>
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true" output="log">
        <rosparam file="$(find soccerbot)/config/robot_localization_ekf_map.yaml" command="load" />
        <param name="odom_frame" value="$(arg robot_name)/odom" />
        <param name="base_link_frame" value="$(arg robot_name)/base_footprint" />
        <param name="pose0" value="amcl_pose" />
    </node>

    <!-- UKF localization -->
    <node pkg="soccer_localization" type="main.py" name="soccer_ukf" respawn="$(optenv COMPETITION false)" output="log" />
</launch>
