<launch>
    <arg name="simulation" />
    <arg name="robot_model" />

    <arg name="param_file_name" value="$(arg robot_model)_sim" if="$(arg simulation)" />
    <arg name="param_file_name" value="$(arg robot_model)" unless="$(arg simulation)" />

    <node pkg="soccer_trajectories" type="soccer_trajectories.py" name="soccer_trajectories" output="screen">
        <param name="trajectory_path" value="$(find soccer_trajectories)/trajectories/$(arg param_file_name)" />
    </node>

    <rosparam command="load" file="$(find soccer_pycontrol)/config/$(arg param_file_name).yaml" />
    <node pkg="soccer_pycontrol" type="main.py" name="soccer_pycontrol" output="screen">
        <param name="robot_model" value="$(arg robot_model)" />
    </node>
</launch>
