<launch>
    <arg name="simulation" />

    <rosparam command="load" file="$(find soccer_description)/config/motor_mapping.yaml" />

    <node pkg="soccer_trajectories" type="soccer_trajectories.py" name="soccer_trajectories" output="screen">
        <param name="trajectory_path" value="$(find soccer_trajectories)/trajectories" />
        <param name="simulation" value="$(arg simulation)" />
        <rosparam command="load" file="$(find soccer_description)/config/motor_mapping.yaml" />
    </node>

    <!--  rotate head if can't see a soccer ball  -->
    <node pkg="soccer_trajectories" type="head_rotator" name="head_rotator" output="screen" />

    <!-- Walking Program (For actual robot, need to be connected to the main soccer robot -->
    <machine name="utra_main" address="192.168.0.128" user="robosoccer" password="utra2016" />
<!--    <node machine="utra_main" name="soccer_walker" pkg="soccer_control" type="run.sh" output="screen" cwd="node" unless="$(arg simulation)"/>-->
    <node launch-prefix="/usr/bin/xterm -T 'Soccer Walker' -e " name="soccer_walker" pkg="soccer_control" type="run.sh" output="screen" cwd="node" if="$(arg simulation)"/>

</launch>
