<launch>
    <arg name="field" default="robocup" />

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"      value="$(find soccer_description)/worlds/$(arg field).world"/>
        <arg name="debug"           value="false" />
        <arg name="gui"             value="true" />
        <arg name="paused"          value="true"/>
        <arg name="use_sim_time"    value="true"/>
        <arg name="headless"        value="false"/>
        <arg name="verbose"         value="true" />
    </include>
    <node name="kill_gazebo" pkg="soccer_description" type="kill_gazebo.sh" />

<!--    <node name="controller_manager" pkg="controller_manager" type="controller_manager" />-->

</launch>
