<launch>
    <arg name="robot_name" default="robot1"/>
    <arg name="x_pos" default="0.00" />
    <arg name="y_pos" default="0.00" />
ro
    <param name="robot_description" command="xacro --inorder '$(find soccer_description)/models/soccerbot.xacro' robot_name:=$(arg robot_name)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <node name="spawn_soccerbot_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model $(arg robot_name) -param robot_description -x $(arg x_pos) -y $(arg y_pos) -z 0.05 "/>

    <!-- Controller -->
    <rosparam file="$(find soccer_description)/config/soccerbot_control.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
          args="--namespace=/$(arg robot_name)
            joint_state_controller
            torso_right_hip_side
            right_hip_side_hip_front
            right_hip_front_thigh
            right_thigh_calve
            right_calve_ankle
            right_ankle_foot
            torso_left_hip_side
            left_hip_side_hip_front
            left_hip_front_thigh
            left_thigh_calve
            left_calve_ankle
            left_ankle_foot
            torso_neck
            neck_head
            torso_right_bicep
            right_bicep_forearm
            torso_left_bicep
            left_bicep_forearm
            "/>

</launch>
