<?xml version="1.0"?>
<launch>
  <!-- start Webots -->
  <arg name="no_gui" default="false," doc="Start Webots with minimal GUI"/>
  <arg name="world" default="" doc="Path to the world to load"/>
  <arg name="mode" default="realtime" doc="Startup mode"/>

  <include file="$(find soccer_webots)/launch/simulation_webot.launch" >

  </include>
  <param name="/simulation_active" value="true"/>
  <param name="/use_sim_time" value="true"/>

  <arg name="duration" default="20" doc="Duration in seconds"/>
  <arg name="auto_close" default="false" doc="Startup mode"/>

</launch>
