<!-- Launches the Computer Vision the robot -->

<launch>
    <arg name="simulation" default="true" />
    <arg name="testing" default="false" />
    <arg name="Robocup" default="false" />
    <arg name="robot_name" default="robot1" />
    <arg name="param_file_name" default="simulation" />
    <arg name="param_file_name" value="simulation" if="$(arg simulation)" />
    <arg name="param_file_name" value="testing" if="$(arg testing)" />
    <arg name="param_file_name" value="Robocup" if="$(arg Robocup)" />

    <!-- Field Line Detection -->
    <node pkg="soccer_object_localization" type="detector_fieldline.py" name="detector_fieldline" output="screen">
        <rosparam command="load" file="$(find soccer_object_localization)/config/$(arg param_file_name).yaml" />
    </node>
    <node pkg="soccer_object_localization" type="detector_goalpost.py" name="detector_goalpost" output="screen" />

    <!-- Ball Detection -->
    <node pkg="soccer_object_localization" type="detector_objects.py" name="ball_detector" output="screen" />
    <node name="object_detector" pkg="soccer_object_detection" type="object_detect_node.py" output="screen" args="--model $(find soccer_object_detection)/src/outputs/model3_feat10 --num-feat 10">
        <env name="OMP_NUM_THREADS" value="1" />
        <env name="MXNET_CUDNN_AUTOTUNE_DEFAULT" value="0" />
        <env name="MXNET_CUDNN_LIB_CHECKING" value="0" />
    </node>
</launch>
