<?xml version="1.0"?>
<launch>
  <arg name="world" default="" doc="Path to the world to load"/>
  <arg name="mode" default="realtime" doc="Startup mode"/>
  <arg name="no_gui" default="false" doc="Start Webots with minimal GUI"/>
  <include file="$(find soccer_webots)/launch/simulation_webot.launch" ns="robot1">

  </include>

</launch>
