<launch>
    <arg name="single" default="true" />
    <env name="GAME_CONTROLLER_HOME" value="$(env HOME)/catkin_ws/src/soccerbot/external/GameController" />
    <env name="WEBOTS_HOME" value="/usr/local/webots" />
    <env name="WEBOTS_ROBOCUP_GAME" value="$(env HOME)/catkin_ws/src/soccerbot/external/hlvs_webots/controllers/referee/game.json" />
    <env name="TEAM_1_PLAYERS_ON_FIELD" value="1" if="$(arg single)" />
    <env name="TEAM_2_PLAYERS_ON_FIELD" value="" if="$(arg single)" />
    <env name="JAVA_HOME" value="/usr" />
    <node pkg="soccerbot" type="webots.sh" name="webots" required="true" />
</launch>
