<launch>
    <arg name="single" default="true" />
    <arg name="robot_model" default="$(optenv ROBOT_MODEL bez1)" />
    <env name="GAME_CONTROLLER_HOME" value="$(env HOME)/catkin_ws/src/soccerbot/external/GameController" />
    <env name="WEBOTS_HOME" value="$(env HOME)/catkin_ws/src/soccerbot/external/webots" />
    <env name="WEBOTS_ROBOCUP_GAME" value="$(env HOME)/catkin_ws/src/soccerbot/external/hlvs_webots/controllers/referee/game_single_$(arg robot_model).json" if="$(arg single)" />
    <!--    <env name="WEBOTS_ROBOCUP_GAME" value="$(env HOME)/catkin_ws/src/soccerbot/external/hlvs_webots/controllers/referee/game.json" unless="$(arg single)" />-->
    <env name="JAVA_HOME" value="/usr" />
    <node pkg="soccerbot" type="webots.sh" name="webots" required="true" />
</launch>
