<?xml version="1.0"?>
<launch>
  <arg name="fake_localization" default="false" />
  <arg name="single" default="false" />

  <param name="/simulation_active" value="true"/>
  <param name="/use_sim_time" value="true"/>

  <env name="WEBOTS_HOME" value="$(env HOME)/catkin_ws/src/soccerbot/external/webots" />
  <env name="LD_LIBRARY_PATH" value="$(env LD_LIBRARY_PATH):$HOME/catkin_ws/src/soccerbot/external/webots/lib/controller" />
  <env name="PYTHONPATH" value="$(env PYTHONPATH):$(env HOME)/catkin_ws/src/soccerbot/external/webots/lib/controller/python38" />
  <node pkg="soccer_webots" type="start_simulation.py" name="webots_sim" output="screen"  args="--single $(arg single)"/>
</launch>
