<launch>
    <arg name="robot_name" default="robot1" />
    <arg name="competition" default="$(optenv COMPETITION false)" />

    <node pkg="soccer_webots" type="start_single.sh" name="webots_ros_interface" output="screen"
        args="--robot_name $(arg robot_name) --robot_tag /$(arg robot_name)" unless="$(arg competition)"/>

    <!-- Competition -->
    <node pkg="soccer_webots" type="game_controller_bridge.py" name="game_controller_bridge" output="screen"
          args="--robot_name $(arg robot_name)" if="$(arg competition)">
    </node>
    <node pkg="soccer_strategy" type="game_controller_receiver.py" name="game_controller_receiver" output="screen" if="$(arg competition)"/>

</launch>
