<robot name="soccerbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="PI" value="3.1415926535897931"/>

    <xacro:property name="JOINT_KP" value="1e15"/>
    <xacro:property name="JOINT_KD" value="1e13"/>
    <xacro:property name="JOINT_MU1" value="0.2"/>
    <xacro:property name="JOINT_MU2" value="0.2"/>
    <xacro:property name="FOREARM_MU1" value="0.2"/>
    <xacro:property name="FOREARM_MU2" value="0.2"/>

    <xacro:property name="JOINT_FRICTION" value="0.00"/>
    <xacro:property name="JOINT_DAMPING" value="0.01"/>

    <xacro:property name="MX28_TORQUE" value="2.5"/>
    <xacro:property name="MX28_VELOCITY" value="1"/>
    <xacro:property name="AX12_TORQUE" value="1.5"/>
    <xacro:property name="AX12_VELOCITY" value="1"/>

</robot>