<robot name="soccerbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="PI" value="3.1415926535897931"/>

    <xacro:property name="JOINT_KP" value="1000000.0"/>
    <xacro:property name="JOINT_KD" value="1.0"/>
    <xacro:property name="JOINT_MU1" value="0.8"/>
    <xacro:property name="JOINT_MU2" value="0.8"/>
    <xacro:property name="FOREARM_MU1" value="1000"/>
    <xacro:property name="FOREARM_MU2" value="500"/>

    <xacro:property name="JOINT_FRICTION" value="2000"/>
    <xacro:property name="JOINT_DAMPING" value="0.0"/>

    <xacro:property name="MX28_TORQUE" value="31000"/>
    <xacro:property name="MX28_VELOCITY" value="0.0"/>
    <xacro:property name="AX12_TORQUE" value="15000"/>
    <xacro:property name="AX12_VELOCITY" value="0.0"/>


</robot>