<?xml version="1.0" ?>

<robot name="soccerbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="soccerbot" params="FILE_PATH:=${FILE_PATH} MODEL_TYPE:=dae" >
        <xacro:include filename="$(find soccer_description)/models/arm.xacro" />
        <xacro:include filename="$(find soccer_description)/models/leg.xacro" />
        <xacro:include filename="$(find soccer_description)/models/head.xacro" />
        <xacro:include filename="$(find soccer_description)/models/front_camera.xacro" />
        <xacro:include filename="$(find soccer_description)/models/imu.xacro" />

        <link name="base_link" />

        <link name="torso">
            <inertial>
                <mass value="1529.201"/>
                <origin rpy="0 0 0" xyz="0.0082498 -0.0017440 -0.0522479"/>
                <inertia ixx="4.323" ixy="0.006" ixz="0.040"
                         iyy="5.198" iyz="-0.015"
                         izz="3.567"/>
            </inertial>
            <collision name="collision">
                <origin rpy="0 0 0" xyz="0 0 -0.052"/>
                <geometry>
                    <box size="0.130 0.145 0.152"/>
                </geometry>
            </collision>
            <visual name="visual">
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="${FILE_PATH}meshes/torso.${MODEL_TYPE}" scale="1 1 1"/>
                </geometry>
            </visual>
        </link>

        <!-- Joints -->
        <joint name="base_link_torso" type="fixed">
            <parent link="base_link"/>
            <child link="torso"/>
            <origin rpy="0 0 0" xyz="0 0 0.3536"/>
            <axis xyz="1 0 0"/>
        </joint>

        <arm name="right" origin="torso" direction="1" />
        <arm name="left" origin="torso" direction="-1" />
        <leg name="right" origin="torso" direction="1" />
        <leg name="left" origin="torso" direction="-1" />
        <head origin="torso" />
        <imu origin="torso" />
        <front_camera origin="head" />

        <gazebo>
            <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
                <robotNamespace>/</robotNamespace>
                <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            </plugin>
        </gazebo>

        <gazebo reference="base_link">
            <kp>${JOINT_KP}</kp>
            <kd>${JOINT_KD}</kd>
            <mu1>${JOINT_MU1}</mu1>
            <mu2>${JOINT_MU2}</mu2>
        </gazebo>

        <gazebo reference="torso">
            <kp>${JOINT_KP}</kp>
            <kd>${JOINT_KD}</kd>
            <mu1>${JOINT_MU1}</mu1>
            <mu2>${JOINT_MU2}</mu2>
        </gazebo>
    </xacro:macro>
</robot>
