<?xml version="1.0" ?>

<robot name="soccerbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find soccer_description)/models/parameters.xacro" />
    <xacro:include filename="$(find soccer_description)/models/robot.xacro" />
    <soccerbot />

    <link name="base_link" />
    <link name="world" />

    <joint name="base_link_map" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <axis xyz="1 0 0"/>
    </joint>

    <joint name="base_link_torso" type="fixed">
        <parent link="base_link"/>
        <child link="torso"/>
        <origin rpy="0 0 0" xyz="0 0 0.3536"/>
        <axis xyz="1 0 0"/>
    </joint>

    <gazebo reference="base_link">
        <kp>${JOINT_KP}</kp>
        <kd>${JOINT_KD}</kd>
        <mu1>${JOINT_MU1}</mu1>
        <mu2>${JOINT_MU2}</mu2>
    </gazebo>
</robot>
