<?xml version="1.0" ?>

<robot name="soccerbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find soccer_description)/models/soccerbot.xacro" />

    <!-- Base Link -->
    <link name="body_support">
        <collision>
            <origin xyz="0 0 0.1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 0.14"/>
            </geometry>
        </collision>

        <visual>
            <origin xyz="0 0 0.1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 0.14"/>
            </geometry>
            <material name="orange"/>
        </visual>

        <inertial>
            <origin xyz="0 0 0.1" rpy="0 0 0"/>
            <mass value="1e-3"/>
            <inertia
                    ixx="1e-6" ixy="0.0" ixz="0.0"
                    iyy="1e-6" iyz="0.0"
                    izz="1e-6"/>
        </inertial>
    </link>

    <joint name="body_support_footprint" type="fixed">
        <parent link="body_support"/>
        <child link="base_footprint"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <axis xyz="1 0 0"/>
    </joint>

    <gazebo reference="body_support">
        <material>Gazebo/GreyTransparent</material>
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
    </gazebo>

</robot>
