<robot name="bez2_urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="PI" value="3.1415926535897931"/>

    <xacro:property name="JOINT_KP" value="1e15"/>
    <xacro:property name="JOINT_KD" value="1e13"/>
    <xacro:property name="JOINT_MU1" value="0.2"/>
    <xacro:property name="JOINT_MU2" value="0.2"/>
    <xacro:property name="FOREARM_MU1" value="0.2"/>
    <xacro:property name="FOREARM_MU2" value="0.2"/>

    <xacro:property name="JOINT_FRICTION" value="0.1"/>
    <xacro:property name="JOINT_DAMPING" value="0.01"/>
<!--TODO figure out why damping and friction mess with it so much-->
    <xacro:property name="MX28_TORQUE" value="2.5"/>
    <xacro:property name="MX28_VELOCITY" value="5.76"/>
    <xacro:property name="MX28_DAMPING" value="${JOINT_DAMPING}"/>
    <xacro:property name="MX28_FRICTION" value="${JOINT_FRICTION}"/>
    <xacro:property name="MX64_TORQUE" value="6.0"/>
    <xacro:property name="MX64_VELOCITY" value="6.6"/>
    <xacro:property name="MX64_DAMPING" value="${JOINT_DAMPING}"/>
    <xacro:property name="MX64_FRICTION" value="${JOINT_FRICTION}"/>
    <xacro:property name="XM430_TORQUE" value="4.1"/>
    <xacro:property name="XM430_VELOCITY" value="4.82"/>
    <xacro:property name="XM430_DAMPING" value="${JOINT_DAMPING}"/>
    <xacro:property name="XM430_FRICTION" value="${JOINT_FRICTION}"/>
    <xacro:property name="XL430_TORQUE" value="1.5"/>
    <xacro:property name="XL430_VELOCITY" value="6.39"/>
    <xacro:property name="XL430_DAMPING" value="${JOINT_DAMPING}"/>
    <xacro:property name="XL430_FRICTION" value="${JOINT_FRICTION}"/>

    <xacro:property name="y_offset" value="0.21571129429326383"/>
    <xacro:property name="z_offset" value="0.05556097822952673"/>
    <xacro:property name="angle_offset" value="1.57"/>


    <material name="white">
        <color rgba="1.0 1.0 1.0 1.0"/>
    </material>
    <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
    </material>
    <material name="silver">
        <color rgba="0.7 0.7 0.7 1.0"/>
    </material>
    <material name="yellow">
        <color rgba="0.9 0.9 0.0 1.0"/>
    </material>
    <material name="red">
        <color rgba="0.7 0.0 0.0 1.0"/>
    </material>
    <material name="green">
        <color rgba="0.0 0.7 0.0 1.0"/>
    </material>
    <material name="blue">
        <color rgba="0.0 0.0 0.7 1.0"/>
    </material>
    <material name="purple">
        <color rgba="0.7 0.0 0.7 1.0"/>
    </material>
    <material name="cyan">
        <color rgba="0.0 0.7 0.7 1.0"/>
    </material>
</robot>
