<!-- Launches the sensors and darknet for the robot -->
<launch>
    <arg name="video_device" default="/dev/video0" />
    <arg name="image_width" default="640" />
    <arg name="image_height" default="480" />
    <arg name="pixel_format" default="yuyv" />
    <arg name="camera_frame_id" default="camera" />
    <arg name="io_method" default="mmap"/>

    <arg name="simulation" default="false" />
    <arg name="darknet" default="false" />

    <!-- The camera itself -->
    <group unless="$(arg simulation)">
        <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
            <param name="video_device" value="$(arg video_device)" />
            <param name="image_width" value="$(arg image_width)" />
            <param name="image_height" value="$(arg image_height)" />
            <param name="pixel_format" value="$(arg pixel_format)" />
            <param name="camera_frame_id" value="$(arg camera_frame_id)" />
            <param name="io_method" value="$(arg io_method)"/>
        </node>-->
    </group>

    <!-- Object detection -->
    <group if="$(arg darknet)">
        <group if="$(arg simulation)">
            <remap from="/camera" to="/soccerbot/camera" />
        </group>

        <include file="$(find darknet_ros)/launch/darknet_ros.launch" />
    </group>

</launch>