[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
TerminalOptions=bash
Exec=bash -c "source /opt/ros/kinetic/setup.bash;source ~/soccer_ws/devel/setup.bash;~/soccer_ws/scripts/gazebo.sh"
Icon=/home/vuwij/soccer_ws/scripts/soccer.png
Name=Soccer Gazebo
