<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find omnibot_control)/config/omnibot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/omnibot" args="left_front_wheel_hinge_controller right_front_wheel_hinge_controller left_back_wheel_hinge_controller right_back_wheel_hinge_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/omnibot/joint_states" />
  </node>

</launch>
