name: catkin_lint

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install catkin_lint
        run: sudo apt update && sudo apt install catkin-lint

      - name: Run catkin_lint
        run: catkin_lint ${{github.workspace}}
