name: Docker Image ARM
# Ref: https://docs.docker.com/desktop/multi-arch/

on:
  workflow_dispatch:
    inputs:
      use_cached_image:
        description: 'Use cached image'
        required: false
        default: true
        type: boolean
  schedule:
    - cron: "0 1 1 * *"
  push:
    branches: [master, fix_again]
    paths-ignore:
      - "**.md"

jobs:
  build_arm:
    runs-on: ubuntu-20.04
    env:
      DOCKER_TARGET_PLATFORM: linux/arm64/v8
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Maximize build space
        run: |
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          df -h
      - uses: actions/checkout@v2
        with:
          lfs: true
          submodules: recursive
      - name: Docker Login
        uses: docker/login-action@v1.12.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Set up Docker Buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest
      - name: Pull original docker image
        if:  ${{ inputs.use_cached_image }}
        run: |
          docker pull utrarobosoccer/soccerbot
      - name: Build the Docker image
        run: |
          docker buildx build . --file Dockerfile --platform linux/arm64 --progress=plain --tag utrarobosoccer/soccerbot:arm64 --push --cache-from utrarobosoccer/soccerbot:arm64 --build-arg BUILDKIT_INLINE_CACHE=1 --build-arg BASE_IMAGE=arm64v8/ros:noetic-robot --build-arg ARCHITECTURE=sbsa
