name: Docker Image ARM

on:
  workflow_dispatch:
  push:
    branches: [master, sr_arm_image]
    paths-ignore:
      - "**.md"

jobs:
  build_arm:
    runs-on: ubuntu-latest
    env:
      DOCKER_TARGET_PLATFORM: linux/arm64/v8
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Maximize build space
        run: |
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          df -h
      - uses: actions/checkout@v2
        with:
          lfs: true
          submodules: recursive
      - name: Docker Login
        uses: docker/login-action@v1.12.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Set up Docker Buildx      
        uses: crazy-max/ghaction-docker-buildx@v1      
        with:        
          version: latest
      - name: Debugging with tmate
        uses: mxschmitt/action-tmate@v3.11
      - name: Build the Docker image
        run: |
          docker pull utrarobosoccer/soccerbot:arm64 || echo "Starting from scratch"
          docker buildx build . --file Dockerfile --platform linux/arm64 --tag utrarobosoccer/soccerbot:arm64 --cache-from utrarobosoccer/soccerbot:arm64 --build-arg BUILDKIT_INLINE_CACHE=1 --build-arg BASE_IMAGE=arm64v8/ros:noetic-robot
          # docker buildx build . --file Dockerfile --platform linux/arm64 --tag utrarobosoccer/soccerbot:arm64 --cache-from utrarobosoccer/soccerbot:arm64 --build-arg BUILDKIT_INLINE_CACHE=1 --build-arg BASE_IMAGE=dustynv/ros:noetic-ros-base-l4t-r32.7.1
      - name: Push Docker image to dockerhub
        run: docker push utrarobosoccer/soccerbot:arm64
