name: Test Pytest

on:
  pull_request:
    branches: [master]
    paths-ignore:
      - "**.md"

jobs:
  pytest:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: ros-tooling/setup-ros@v0.2
        with:
          required-ros-distributions: noetic
      - uses: actions/checkout@v3
        with:
          lfs: true
          submodules: recursive
      - name: Move directory
        run: |
          mkdir -p $HOME/catkin_ws/src/soccerbot
          mv $GITHUB_WORKSPACE/* $HOME/catkin_ws/src/soccerbot
      - name: Install dependencies
        run: |
          cd $HOME/catkin_ws/src/soccerbot
          source /opt/ros/noetic/setup.bash
          pip install --trusted-host=pypi.org --trusted-host=files.pythonhosted.org --trusted-host=pytorch.org --trusted-host=download.pytorch.org --trusted-host=files.pypi.org --trusted-host=files.pytorch.org \
            -r requirements.txt --find-links https://download.pytorch.org/whl/cu113/torch_stable.html
      - name: Pytest
        run: |
          cd $HOME/catkin_ws/src/soccerbot
          source /opt/ros/noetic/setup.bash
          export PYTHONPATH=$PYTHONPATH:soccer_common/src:soccer_pycontrol/src
          pytest -s --cache-clear --ignore=soccer_embedded --ignore=external --ignore=soccer_rlcontrol --ignore=test_integration.py --ignore=soccer_webots
      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3
