name: Test Integration

on:
  pull_request:
    branches: [master]
    paths-ignore:
      - "**.md"

env:
  COMPOSE_DOCKER_CLI_BUILD: 1
  DOCKER_BUILDKIT: 1

jobs:
  build_docker_images:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Maximize build space
        run: |
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          df -h
      - uses: actions/checkout@v3
        with:
          lfs: true
          submodules: recursive
      - name: Docker Login
        uses: docker/login-action@v1.12.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build the Docker images
        run: |
          docker-compose pull
          docker-compose build --progress=plain
      - name: Push test docker images
        run: |
          docker tag utrarobosoccer/soccerbot utrarobosoccer/soccerbot:test
          docker tag utrarobosoccer/webots utrarobosoccer/webots:test
          docker push utrarobosoccer/soccerbot:test
          docker push utrarobosoccer/webots:test
  run_integration_tests:
    runs-on: ubuntu-latest
    needs: build_docker_images
    strategy:
      fail-fast: false
      matrix:
        robot_model: [bez1, bez3]
    timeout-minutes: 60
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    env:
      ROBOT_MODEL: ${{ matrix.robot_model }}
    steps:
      - name: Maximize build space
        run: |
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          df -h
      - uses: actions/checkout@v3
        with:
          lfs: true
          submodules: recursive
      - name: Docker Login
        uses: docker/login-action@v1.12.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Get Docker image
        run: |
          docker pull utrarobosoccer/soccerbot:test
          docker pull utrarobosoccer/webots:test
          docker tag utrarobosoccer/soccerbot:test utrarobosoccer/soccerbot
          docker tag utrarobosoccer/webots:test utrarobosoccer/webots
      - name: Walking Integration Test
        run: |
          docker-compose -f docker-compose.test.yaml up --exit-code-from friendly
      - name: Get integration test logs
        if: always()
        run: |
          docker-compose logs
      - name: Get rosbag
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: Rosbags_Walking
          path: soccerbot/bags
      - name: Kick Integration Test
        run: |
          docker-compose -f docker-compose.test.kick.yaml up --exit-code-from friendly
      - name: Get integration test logs
        if: always()
        run: |
          docker-compose logs
      - name: Get rosbag
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: Rosbags_Kick
          path: soccerbot/bags
      - name: Kick and Walk Integration Test
        env:
          ROBOT_X: 3.5
          TEST_NAME: test_walk_and_kick_right
        run: |
          docker-compose -f docker-compose.test.kick.yaml up --exit-code-from friendly
      - name: Get integration test logs
        if: always()
        run: |
          docker-compose logs
      - name: Get rosbag
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: Rosbags_Walk_and_Kick
          path: soccerbot/bags
