name: Test ROS Build

on:
  pull_request:
    branches: [master]

jobs:
  test_ros_build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: ros-tooling/setup-ros@v0.2
        with:
          required-ros-distributions: noetic
      - uses: actions/checkout@v3
        with:
          lfs: true
          submodules: recursive
      - name: Move directory
        run: |
          mkdir -p $HOME/catkin_ws/src/soccerbot
          mv $GITHUB_WORKSPACE/* $HOME/catkin_ws/src/soccerbot
      - name: Install dependencies
        run: |
          cd $HOME/catkin_ws/src/soccerbot
          source /opt/ros/noetic/setup.bash
          rosdep update
          rosdep install --from-path -i -y .
          pip install --trusted-host=pypi.org --trusted-host=files.pythonhosted.org --trusted-host=pytorch.org --trusted-host=download.pytorch.org --trusted-host=files.pypi.org --trusted-host=files.pytorch.org \
            -r requirements.txt --find-links https://download.pytorch.org/whl/cu113/torch_stable.html
          sudo apt-get install -y python3-catkin-tools
      - name: Build Soccerbot
        run: |
          cd $HOME/catkin_ws
          source /opt/ros/noetic/setup.bash
          catkin init
          catkin build
          touch amcl/CATKIN_IGNORE
          catkin test
