name: Test Pytest

on:
  pull_request:
    branches: [master]
    paths-ignore:
      - "**.md"

jobs:
  pytest:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: ros-tooling/setup-ros@v0.2
        with:
          required-ros-distributions: noetic
      - uses: actions/checkout@v3
        with:
          lfs: true
          submodules: recursive
      - name: Move directory
        run: |
          mkdir -p $HOME/catkin_ws/src/soccerbot
          mv $GITHUB_WORKSPACE/* $HOME/catkin_ws/src/soccerbot
      - name: Install apt fast
        run: |
          sudo apt-get update
          sudo apt-get install -q -y software-properties-common
          sudo add-apt-repository ppa:apt-fast/stable -y
          echo debconf apt-fast/maxdownloads string 16 | debconf-set-selections
          echo debconf apt-fast/dlflag boolean true | debconf-set-selections
          echo debconf apt-fast/aptmanager string apt-get | debconf-set-selections
          sudo apt-get install -q -y apt-fast
          sudo apt-get clean
      - name: Install ros dependencies
        run: |
          cd $HOME/catkin_ws/src/soccerbot
          source /opt/ros/noetic/setup.bash
          rosdep update
          rosdep install --from-paths . --ignore-src -r -s  | grep 'apt-get install' | awk '{print $3}' | sort  >  /tmp/catkin_install_list
          sudo apt-fast install -y --no-install-recommends $(cat /tmp/catkin_install_list)
          sudo apt-get install -y python3-catkin-tools
      - name: Install dependencies
        run: |
          cd $HOME/catkin_ws/src/soccerbot
          source /opt/ros/noetic/setup.bash
          pip install pyOpenSSL==22.0.0
          pip install --trusted-host=pypi.org --trusted-host=files.pythonhosted.org --trusted-host=pytorch.org --trusted-host=download.pytorch.org --trusted-host=files.pypi.org --trusted-host=files.pytorch.org \
            -r requirements.txt --find-links https://download.pytorch.org/whl/cu113/torch_stable.html
      - name: Build Soccerbot
        run: |
          cd $HOME/catkin_ws
          source /opt/ros/noetic/setup.bash
          catkin init
          catkin build
      - name: Pytest
        run: |
          cd $HOME/catkin_ws/src/soccerbot
          source /opt/ros/noetic/setup.bash
          export PYTHONPATH=$PYTHONPATH:soccer_common/src:soccer_pycontrol/src
          pytest -s --cache-clear --ignore=soccer_embedded --ignore=external --ignore=soccer_rlcontrol --ignore=test_integration.py --ignore=soccer_webots
      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3
