<launch>
    <arg name="field" default="robocup" />

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"      value="$(find soccer_description)/worlds/$(arg field).world"/>
        <arg name="debug"           value="false" />
        <arg name="gui"             value="true" />
        <arg name="paused"          value="true"/>
        <arg name="use_sim_time"    value="true"/>
        <arg name="headless"        value="false"/>
        <arg name="verbose"         value="true" />
    </include>

    <include file="$(find soccer_description)/launch/soccerbot_rviz.launch" />

    <node name="spawn_soccerbot_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model soccerbot -param robot_description -z 0.05"/>

    <!-- Controller -->
    <rosparam file="$(find soccer_description)/config/soccerbot_control.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
          output="screen"
          args="
            torso_right_hip_side_position_controller
            right_hip_side_hip_front_position_controller
            right_hip_front_thigh_position_controller
            right_thigh_calve_position_controller
            right_calve_ankle_position_controller
            right_ankle_foot_position_controller
            torso_left_hip_side_position_controller
            left_hip_side_hip_front_position_controller
            left_hip_front_thigh_position_controller
            left_thigh_calve_position_controller
            left_calve_ankle_position_controller
            left_ankle_foot_position_controller
            torso_neck_position_controller
            neck_head_position_controller
            torso_right_bicep_position_controller
            right_bicep_forearm_position_controller
            torso_left_bicep_position_controller
            left_bicep_forearm_position_controller
            joint_state_controller
            --shutdown-timeout 2"/>

</launch>
