<launch>
    <arg name="field" default="robocup" />

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"      value="$(find soccer_description)/worlds/$(arg field).world"/>
        <arg name="debug"           value="false" />
        <arg name="gui"             value="true" />
        <arg name="paused"          value="true"/>
        <arg name="use_sim_time"    value="true"/>
        <arg name="headless"        value="false"/>
        <arg name="verbose"         value="true" />
    </include>
    <node name="kill_gazebo" pkg="soccer_description" type="kill_gazebo.sh" />

    <include file="$(find soccer_description)/launch/soccerbot_rviz.launch">
        <arg name="gazebo" value="true" />
    </include>

    <node name="spawn_soccerbot_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model soccerbot -param robot_description -z 0.05"/>

    <!-- Controller -->
    <rosparam file="$(find soccer_description)/config/soccerbot_control.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
          output="screen"
          args="
            torso_right_hip_side
            right_hip_side_hip_front
            right_hip_front_thigh
            right_thigh_calve
            right_calve_ankle
            right_ankle_foot
            torso_left_hip_side
            left_hip_side_hip_front
            left_hip_front_thigh
            left_thigh_calve
            left_calve_ankle
            left_ankle_foot
            torso_neck
            neck_head
            torso_right_bicep
            right_bicep_forearm
            torso_left_bicep
            left_bicep_forearm
            "/>

</launch>
