<launch>
    <arg name="gazebo"      default="false" />
    <arg name="gui"         default="true" />
    <arg name="rvizconfig"  default="$(find soccer_description)/rviz/soccerbot.rviz" />

    <param name="use_gui" value="$(arg gui)"/>
    <param name="robot_description" command="xacro --inorder '$(find soccer_description)/models/soccerbot.xacro'" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg gazebo)"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
